{{ include('header.html.twig') }}

<div class="dashboard">
  <div class="columns">
    <div class="three-columns">
      <ul class="stats split-on-mobile">
        <li><strong class="blue" id="payoutScheme"></strong> mining <br />pool </a></li>
        <li><strong class="blue" id="networkHashRate"></strong> network <br />hashrate</li>
        <li><strong class="blue" id="networkDifficulty"></strong> difficulty<br>pay</li>
        <li><strong class="blue" id="poolEffort"></strong> pool <br />effort </a></li>

      </ul>
    </div>

    <div class="six-columns ">
      <h1 class="thin underline align-center" id="coinname"></h1>
      <form method="post" action="" id="walletform" class="columns" onsubmit="">
        <fieldset class="fieldset field-list  silver-bg">
          <div class="field-block button-height  silver-bg">
            <label for="input-2" class="label">Wallet Address</label>
            <input type="text" name="walletAddress" id="walletAddress" size="9" class="input full-width" value="{{wallet}}">
            <br/><div class="button-height"><button type="submit" class="button white-gradient"><span class="button-icon"><span class="icon-line-graph"></span></span>Load Wallet Data</button></div>
          </div>
        </fieldset>
      </form>
    </div>

    <div class="three-columns">
      <ul class="stats split-on-mobile">
        <li><strong class="blue" id="poolHashRate"></strong> pool <br />hashrate </li>
        <li><strong class="blue" id="connectedPeers"></strong> connected <br />peers</li>
        <li><strong class="blue" id="poolFeePercent"></strong> pool <br />fee </a></li>
        <li><strong class="blue" id="minimumPayment"></strong> min<br>pay</li>
      </ul>
    </div>
  </div>
</div>


<div class="with-padding">
<p class="big-message black-gradient green-color">
						<a href="#" title="Hide message" class="close">✕</a>
						<span class="block-arrow bottom"><span></span></span>
						<span class="big-message-icon icon-warning with-text color">Important</span>
						<strong>New message from <span class="color">John Doe</span></strong><br>
						Re: About next update
					</p>
  <div class="columns">


  <div class="three-columns">
    <div class="block margin-bottom">
      <h3 class="block-title">Hashrate</h3>
    </div>
    <div id="chartDashboardHashRate"></div>
  </div>

  <div class="seven-columns">
   <div class="block margin-bottom">
      <h3 class="block-title">Workers</h3>
      <table class="simple-table responsive-table" id="miner-workers">
        <thead class="">
          <tr class="">
            <th>Index</th>
            <th>Name</th>
            <th>Hashrate</th>
            <th>Share Rate</th>
          </tr>
        </thead>
        <tbody id="workerList"></tbody>
      </table>
    </div>
  </div>


  <div class="two-columns">
      <h4 class="green underline">Pool Info</h4>

      <dl class="definition inline">
        <dt>Pending Shares</dt>
        <dd id="pendingShares"></dd>

        <dt>Miner hash rate</dt>
        <dd id="minerHashRate"></dd>

        <dt>Pending Balance</dt>
        <dd id="pendingBalance"></dd>

        <dt>Paid</dt>
        <dd id="paidBalance"></dd>

        <dt>Lifetime</dt>
        <dd id="lifetimeBalance"></dd>
      </dl>
    </div>
  </div>


</div>





<script>
walletform.addEventListener("submit", (e) => {
  e.preventDefault();

  let address = document.getElementById("walletAddress");
  console.log("/pool/{{ pool_Id}}/dash/" + address.value);
  window.location.href = "/pool/{{ pool_Id}}/dash/" + address.value;

  // handle submit
});
</script>

      {{ include('footer_menu.html.twig') }}