</section>

<!-- End main content -->

<!-- Side tabs shortcuts with legends under the icons -->
<ul id="shortcuts" role="complementary" class="children-tooltip tooltip-right with-legend">
  <li class="current">
    <a href="/" class="shortcut-dashboard" title="Home"><span class="shortcut-legend">Home</span></a>
  </li>
 <li>
    <a href="/pool/{{ pool_Id}}/dash" class="shortcut-messages" title="Pool"><span class="shortcut-legend">Pool</span></a>
  </li>
  <li>
    <a href="/pool/{{ pool_Id}}/miners" class="shortcut-agenda" title="Miners"><span class="shortcut-legend">Miners</span></a>
  </li>
  <li>
    <a href="/pool/{{ pool_Id}}/blocks" class="shortcut-contacts" title="Blocks"><span class="shortcut-legend">Blocks</span></a>
  </li>
  <li>
    <a href="/pool/{{ pool_Id}}/payments" class="shortcut-medias" title="Payments"><span class="shortcut-legend">Payments</span></a>
  </li>
  <li>
    <a href="/pool/{{ pool_Id}}/connect" class="shortcut-stats" title="Connect"><span class="shortcut-legend">Connect</span></a>
  </li>
  <li class="at-bottom">
    <a href="/pool/{{ pool_Id}}/faq" class="shortcut-settings" title="FAQ"><span class="shortcut-legend">FAQ</span></a>
  </li>
  <li>
    <a href="/support" class="shortcut-notes" title="Support"><span class="shortcut-legend">Support</span></a>
  </li>
</ul>

<!-- Scripts -->
<script src="{{ asset('js/libs/jquery-1.10.2.min.js') }}"></script>
<script src="{{ asset('js/setup.js') }}"></script>

<!-- Template functions -->
<script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
<script src="{{ asset('js/developr.input.js') }}"></script>
<script src="{{ asset('js/developr.message.js') }}"></script>
<script src="{{ asset('js/developr.modal.js') }}"></script>
<script src="{{ asset('js/developr.notify.js') }}"></script>
<script src="{{ asset('js/developr.progress-slider.js') }}"></script>
<script src="{{ asset('js/developr.confirm.js') }}"></script>
<script src="{{ asset('js/miningcore.js') }}"></script>

<script>
  // Call template init (optional, but faster if called manually)
  $.template.init();

  $(document).ready(function() {
    const date = new Date();

    $("#date").html(date.toLocaleString('default', { month: 'short', day: '2-digit' }));
    loadIndex();
});
</script>
</body>
</html>
