<!-- This is optional -->
<footer id="menu-footer">
  <p class="button-height">
    <input type="checkbox" name="auto-refresh" id="auto-refresh" checked="checked" class="switch float-right" />
    <label for="auto-refresh">Auto-refresh</label>
  </p>
</footer>
</section>
<!-- End sidebar/drop-down menu -->

<!-- JavaScript at the bottom for fast page loading -->

<!-- Scripts -->
<script src="{{ asset('js/libs/jquery-1.10.2.min.js') }}"></script>
<script src="{{ asset('js/setup.js') }}"></script>

<!-- Template functions -->
<script src="{{ asset('js/developr.input.js') }}"></script>
<script src="{{ asset('js/developr.message.js') }}"></script>
<script src="{{ asset('js/developr.modal.js') }}"></script>
<script src="{{ asset('js/developr.navigable.js') }}"></script>
<script src="{{ asset('js/developr.notify.js') }}"></script>
<script src="{{ asset('js/developr.scroll.js') }}"></script>
<script src="{{ asset('js/developr.progress-slider.js') }}"></script>
<script src="{{ asset('js/developr.tooltip.js') }}"></script>
<script src="{{ asset('js/developr.confirm.js') }}"></script>
<script src="{{ asset('js/developr.agenda.js') }}"></script>
<script src="{{ asset('js/developr.tabs.js') }}"></script>
<!-- Must be loaded last -->

<!-- Plugins -->
<script src="{{ asset('js/libs/jquery.tablesorter.min.js') }}"></script>
<script src="{{ asset('js/libs/DataTables/jquery.dataTables.min.js') }}"></script>

<script>



// Call template init (optional, but faster if called manually)
$.template.init();



// If the browser support the Notification API, ask user for permission (with a little delay)
if (notify.hasNotificationAPI() && !notify.isNotificationPermissionSet())
{
    setTimeout(function()
    {
        notify.showNotificationPermission('Your browser supports desktop notification, click here to enable them.', function()
        {
            // Confirmation message
            if (notify.hasNotificationPermission())
            {
                notify('Notifications API enabled!', 'You can now see notifications even when the application is in background', {
                    icon: {{ asset('img/demo/icon.png') }},
                    system: true
                });
            }
            else
            {
                notify('Notifications API disabled!', 'Desktop notifications will not be used.', {
                    icon: {{ asset('img/demo/icon.png') }}
                });
            }
        });

    }, 2000);
}
</script>

<script>
  $(document).ready(function() {
  loadIndex();
});
</script>
</body>
</html>
