    </section>

    <!-- End main content -->

    <!-- Side tabs shortcuts with legends under the icons -->
    <ul id="shortcuts" role="complementary" class="children-tooltip tooltip-right with-legend">
      <li class="current">
        <a href="/" class="shortcut-dashboard" title="Dashboard"><span class="shortcut-legend">Dashboard</span></a>
      </li>
    </ul>

    <!-- JavaScript at the bottom for fast page loading -->
    <!-- Scripts -->
    <script src="{{ asset('js/libs/jquery-1.10.2.min.js') }}"></script>
    <script src="{{ asset('js/setup.js') }}"></script>

    <!-- Template functions -->
    <script src="{{ asset('js/developr.message.js') }}"></script>
    <script src="{{ asset('js/developr.modal.js') }}"></script>
    <script src="{{ asset('js/developr.notify.js') }}"></script>
    <script src="{{ asset('js/developr.progress-slider.js') }}"></script>
    <script src="{{ asset('js/developr.tooltip.js') }}"></script>
    <script src="{{ asset('js/developr.confirm.js') }}"></script>
    <script src="{{ asset('js/miningcore.js') }}"></script>

    <script>
      // Call template init (optional, but faster if called manually)
      $.template.init();

      // If the browser support the Notification API, ask user for permission (with a little delay)
      if (notify.hasNotificationAPI() && !notify.isNotificationPermissionSet())
      {
          setTimeout(function()
          {
              notify.showNotificationPermission('Your browser supports desktop notification, click here to enable them.', function()
              {
                  // Confirmation message
                  if (notify.hasNotificationPermission())
                  {
                      notify('Notifications API enabled!', 'You can now see notifications even when the application is in background', { icon: '{{ asset('img/demo/icon.png') }}', system: true });
                  }
                  else
                  {
                      notify('Notifications API disabled!', 'Desktop notifications will not be used.', { icon: '{{ asset('img/demo/icon.png') }}' });
                  }
              });
          }, 2000);
      }
    </script>

    <script>
        $(document).ready(function() {
        loadIndex();
      });
    </script>
  </body>
</html>
